@font-face {
  font-family: 'Domestic';
  src: url(/fonts/domestic.otf);
  font-weight: normal;
}

#wrapper {
  padding-top: 50px;
  margin: auto;
  width: 800px;
  /*border: 3px solid #000000;*/
  font-family: 'Domestic','serif';
}

#header {
  width: 800px;
}

#logo {
  padding-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  width: 600px;
}

#nav {
  text-align: center;
  letter-spacing: 2px;
  padding-top: 50px;
  text-transform: uppercase;
  width: 600px;
  margin: auto;
}

#nav ul {
  display: inline-block;
  list-style: none;
  margin: auto;
  padding: 0px;
}

#nav ul li {
  margin: auto;
  float: left;
}

#nav ul li a {
  padding: 5px 20px;
  color: black;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

#nav>ul>li:hover>a {
	color: #FF4800;
  text-decoration: underline;
}

#content {
  width: 740px;
  margin-top: 20px;
  padding: 30px;
}

#content h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#construction {
  background-image: url(/images/underground1.jpg);
  background-position: 100px 375px;
  width: 740px;
  padding-top: 100px;
  padding-bottom:100px;
  text-align: center;
  margin: auto;
  color: #FF4800;
}

#construction h1 {
  background-color: yellow;
  padding-top: 3px;
}

#footer {
  font-size: 10px;
  width: 800px;
  margin: auto;
  display: inline-block;
}

#copyright {
  float: left;
  padding-left: 30px;
}

#credits {
  float: right;
  padding-right: 30px;
}

#tbl {
  margin: auto;
  width: 400px;
  text-align: center;
}

#tbl th {
  text-decoration: underline;
  padding-bottom: 5px;
}

.splash {
  padding-top: 30px;
  width: 740px;
}

#menu {
  padding-top: 30px;
  width: 450px;
  margin: auto;
  text-align: center;
}

#menu p{
  padding-bottom: 5px;
}